@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Headings */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  font-style: bold;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

/* Containers */

.container-fluid {
  padding: 0% 15%;
}

/* Sections */

.colored-section {
  background: #ff4c68;
  color: whitesmoke;
}

.white-section {
  background: #fff;
  color: black;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 3px 3px red;
}

.nav-item {
  padding: 0 18px;
  vertical-align: middle;
}

.nav-link {
  font-family: "Montserrat";
  text-shadow: 2px 2px red;
  vertical-align: middle;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title*/

#title {
  background: #ff4c68;
  color: whitesmoke;
  text-shadow: 3px 3px rgb(182, 180, 180);
  padding-bottom: 10%;
  text-align: left;
}

.title-image {
  height: 70%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section*/

.features {
  padding: 10%;
  margin: 0rem 0rem 0rem 0rem;
  margin: 0;
  position: relative;
  background: white;
  z-index: 1;
}

.features-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.features-text {
  color: red;
}

.features-icon {
  color: red;
  padding: 0.5rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  text-shadow: 3px 3px black;
  font-weight: 400;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section Styling */

#press {
  padding-bottom: 2rem;
}

.press-logo {
  padding: 0 1rem 0rem 1rem;
  width: 15%;
}

/* Pricing Styling */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call To Action Styling */

.call-to-action {
  text-shadow: 3px 3px rgb(182, 180, 180);
  padding: 5%;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 5% 15%;
}

.copyright {
  padding: 3%;
}

.contact-logo {
  color: #ff4c68;
  padding: 2%;
}

/* Media Queries */

@media (max-width: 1028px) {
  #title {
    text-align: center;
    padding-bottom: 0;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    height: 50%;
  }

  .testimonial-text {
    font-size: 2rem;
    line-height: 1;
    text-shadow: 3px 3px black;
    font-weight: 400;
  }

  .price-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
  }

  .call-to-action {
    color: whitesmoke;
    text-shadow: 3px 3px rgb(182, 180, 180);
    padding: 5%;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
  }
}

@media (max-width: 360px) { 
  
  .big-heading {

    font-size: 4.5rem;

  }

  .features-title {
    font-size: 2rem;
    font-weight: 900;
  }

  .features-text {
    font-size: 1.5rem;
  }

  .call-to-action {
    text-shadow: 4px 4px rgb(182, 180, 180);
    padding: 5%;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.5;
  }

}